@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #151515;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.embla__dot {
  background: #ccc;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.embla__dot--selected {
  background: #ccc;
  background-image: url('../assets/icons/pagination-bullet-active.svg');
  background-repeat: no-repeat;
  width: 40px;
  height: 8px;
  border-radius: 10px;
}
