@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #151515;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination {
  top: 10px !important;
  text-align: left !important;
}

.swiper-slide {
  width: 412px !important;
  height: 350px !important;
  position: static !important;

  @media (max-width: 768px) {
    width: 358px !important;
  }
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
  background: #ccc !important;
  background-image: url('../assets/icons/pagination-bullet-active.svg') !important;
  background-repeat: no-repeat !important;
  animation: scale 0.3s ease-in-out
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
